.footer {
  background-color: #333333;
  text-align: start;
  padding: 50px 0px;
  font-family: 'Poppins', sans-serif !important;

  .list1 {
    width: 281px;
    h5 {
      // font-family: 'Nueva' !important;
      font-family: 'nueva-std-regular', sans-serif !important;
      color: #ffffff;
      font-size: 48px;
      margin-bottom: 20px;
    //   line-height: .5;
    }
    p {
      color: #ffffff;
      font-size: 14px;
    }
  }

  .desc {
    font-family: 400;
    h5 {
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 30px;
    }
    ul {
      padding: 0px;
      li {
        color: #ffffff;
        list-style: none;
      }
    }
  }
  .subscribe{
      h5{
          color: #FFF;
          font-size: 18px;
          margin-bottom: 30px;
      }
  }

  .formdesgin {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: white;
    border-radius: 25px;
    height: 50px;
    margin-top: 30px;
    input {
      border-radius: 25px;
      width: 70%;
      padding: 20px;
      border: 0px;
      outline: 0px;
    }
    button {
      /* Just a little styling to make it pretty */
      border-radius: 25px;
      background: #ff6057;
      color: white;
      width: 30%;
      border-color: #ffffff;
    }
  }
  //   li > div > div {
  //     background-color: #ffffff;
  //     border-radius: 25px;
  //   }
  //   li > div {
  //     height: 50px;
  //     margin-top: 20px;
  //   }
  //   .formTitle {
  //     padding-top: 20px;
  //   }
}
