.section3 {
  background-repeat: no-repeat !important;
  background-position: -142% 170% !important;
  background-size: 70% !important;
  padding: 180px 0px 0px;
  // overflow: hidden;
  position: relative;
  .section3_container {
    
    .bg {
      transform: scale(0.8) rotate(255deg);
      position: relative;
      margin-top: -66%;
      z-index: -1;
      left: -48%;
      @media (max-width:768px) {
        display: none;
      }
    }
  }
}
