.section3{
    
    .section3_container{
        
        .desc{
            width: 406px;
            text-align: start
            
        }
        .desc>svg{
            color: #FF6057;
            width: 79px;
        }
        h3{
            font-family: 'Poppins';
            font-size: 38px;
            font-weight: bold;
            
        }
        p{
            text-align: start;
            font-size: 14px;
            font-family: regular;
        }
        
        a{
            color: #FF6057;
            font-size: 16px;
            font-style: SemiBold;
        }
        a>svg{
            margin-left: 100px;
        }
        

    }
}