.section4{
    padding: 50px 0px;
    .sub-title{
        color: #8f8f8f;
        font-size: 28px;
        font-weight: 600;
    }
    .title{
        color: #3b3a3a;
        font-size: 60px;
        font-weight: 700;
        margin: 20px 0px;
    }
    .desc{
        color: #a6a6a6;
        font-size: 14px;
        font-weight: 400;
        width: 50%;
        margin: auto;
    }
}