@import url(./_global.scss);
@import url(./_typography.scss);
@import url(./_header.scss);
@import url(./_section2.scss);
@import url(./_section3.scss);
@import url(./_section4.scss);
@import url(./_section5.scss);
@import url(./_section6.scss);
@import url(./_section7.scss);
@import url(./_footer.scss);
.menu-container {
  display: flex;
  justify-content: space-between;
}
